{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	<div class="flex justify-center items-center lg:w-100 min-h-[75vh]">
        <form method="post" class="flex flex-col items-center justify-center lg:text-lg text-5xl w-[80vw] lg:w-[25vw]">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="mb-5 lg:text-3xl text-[7vw]">Please sign in</h1>
            <label for="inputEmail" class="mb-2 lg:mb-1 self-start">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="registration" autocomplete="email" required autofocus>
            <label for="inputPassword" class="mb-2 lg:mb-1 self-start">Password</label>
            <input type="password" name="password" id="inputPassword" class="registration" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" 
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="buttonLg red" type="submit">
                Sign in
            </button>
        </form>
    </div
{% endblock %}
