{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="text-[#5b5555]">    
        <div class="grey flex flex-col dark:text-slate-100">
            <div class="flex flex-row flex-wrap justify-between items-center">
                <p><a href="{{ path('app_series_index') }}">Home</a> > {{ user.name }}</p>
                {% if app.user.id == user.id %}
                    <a class="button blue" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                {% endif %}
            </div>
            <div class="flex flex-row flex-wrap justify-between items-end">
                <h2 class="titleLg">{{ user.name }}</h2>
                <p>Member Since {{ user.registerDate|date("m/d/Y") }}</p>
            </div>
            <h2 class="titleMd">Followed Series</h2>
        </div>
        <ul class="dark:text-slate-100 my-4 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-4">
            {% for series in series %}
                <li>
                    <a class="flex flex-col items-center hover:scale-105 duration-150" href="{{ path('app_series_show', {'id': series.id}) }}">
                        <img class="h-[40vmin] w-full object-cover rounded-lg shadow-md" src="{{ path('app_series_poster', {'id': series.id}) }}"/>
                        <p class="text-center">{{ series.title }}</p>
                        
                        {% if series_epcount_map[series.id]|default(null) %}
                            <p class="text-center">Nombre d'épisodes : {{ series_epcount_map[series.id] ?? 'undefined' }}</p>
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <p class="dark:text-slate-100 text-center my-4">No records found</p>
            {% endfor %}
        </ul>
            {% if series|length > 8 %}
                <div class="w-full flex justify-center">
                    <div class="navigation button bg-grey-babar text-grey-text">
                        {{ knp_pagination_render(series) }}
                    </div>
                </div>
            {% endif %}
        <div>
            <h2 class="titleMd dark:text-slate-100">Ratings</h2>

            {% for rating in ratings %}
                <div class="ratingContainer dark:text-slate-100">
                    <div class="flex flex-row justify-between items-center">
                        <div class="flex items-center">
                            <p class="text-lg">{{rating.user.name }}</p>
                            <div class="mx-2">
                                {% for i in 1..5 %}
                                    {% if i <= rating.value %}
                                        <span class="text-yellow-600 text-lg">★</span>
                                    {% else %}
                                        <span class="text-grey-babar text-lg">★</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <p class="text-sm">{{ rating.date|ago }}</p>
                    </div>
                    <p class="text-gray-500 dark:text-slate-100">{{ rating.comment }}</p>
                </div>
            {% else %}
            <p class="dark:text-slate-100 text-center my-4">No records found</p>
            {% endfor %}
        </div>
{% endblock %}
